<md-dialog aria-label="Execution"  ng-cloak >
    <md-toolbar>
      <div class="md-toolbar-tools md-primary-bg">
        <span flex="95" class="md-title text-nowrap">Execution Performance</span>
        <md-button ng-click="cancel()" aria-label="cancel">
          <md-icon md-font-icon="icon-cancel" flex="5" ></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="padding: 0px;">
      <div class="md-dialog-content" style="padding: 3px;">
        <form name="stepper" class="ms-stepper ng-untouched" style="max-height: 650px;max-width: 550px;">
          <div class="ms-stepper-horizontal">
            <div class="ms-stepper-navigation-wrapper">
              <div class="ms-stepper-navigation layout-row" layout="row" layout-align="start center">
                <md-button class="ms-stepper-navigation-item exe-step" layout="row" layout-align="start center" aria-label="1 Choose Suites">
                  <div class="step md-accent-bg" layout="row" layout-align="center center">
                    <span>1</span>
                  </div>
                  <div layout="column" layout-align="start start">
                    <div>Scripts</div>
                  </div>
                </md-button>
              </div>
            </div>
            <div class="ms-stepper-steps" style="padding: 2px 2px;">
              <ms-stepper-step id="1" step-title="'Choose Scripts'" class="ms-stepper-step">
                  <div class="md-padding">
                    <div layout="column" layout-wrap>
                      <div layout="row" flex=>
                        <div class="search-box" layout="row" layout-align="start center" flex style="margin-bottom: 16px;">
                          <md-icon md-font-icon="icon-magnify" class="icon s24 margin-left-0" aria-hidden="true"></md-icon>
                          <input class="font-size-14" type="text" placeholder="Search for suite name" aria-invalid="false" flex ng-model="searchTerms"> 
                          <a href-void ng-show="searchTerms" ng-click="searchTerms = undefined;"><md-icon md-font-icon="icon-close"></md-icon></a>  
                        </div>
                      </div>
                      <div layout="column">
                            <div layout="row" layout-wrap flex>
                              <div class="demo-select-all-checkboxes" flex="100" ng-repeat="script in scripts | filter : searchTerms">
                                <md-checkbox aria-label="selectScript" ng-click="selectScript(script)">
                                 <span>{{script.name}}</span>
                                </md-checkbox>
                              </div>
                            </div>
                      </div>
                    </div>
                  </div>
              </ms-stepper-step>
            </div>
           
          </div>
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" >
      <div class="ms-stepper-controls" layout="row" layout-align="center center">
        <md-button ng-disabled="checkSscriptSelected" class="md-accent md-raised md-default-theme" ng-click="run()">
          Run
        </md-button>
      </div>
    </md-dialog-actions>
</md-dialog>
