<div aria-label="Job Report" id="case" layout="column" perfect-scrollbar>
<!-- 	<div layout="row" class="breadcrumbs" layout-align="start center">
	    <md-button aria-label="menu" hide-gt-md class="md-icon-button">
	      <md-icon md-font-icon="icon-menu" aria-hidden="true"></md-icon>
	    </md-button>

	    <div class="pl-8" layout="row" layout-align="start center">
	      <md-icon md-font-icon="icon-home" class="s24"></md-icon>
	      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
	      <a class="text-nowrap-ellipsis">CloudATS v1.1 Portal Test Report</a>
	      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
	      <a>Reports</a>
	      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
	      <a>Job</a>
	    </div>
	</div> -->
	
    <div id="all-chart" ng-repeat="report in reports">
        <performance-report data-reports="report" data-bind-to="report[0].script_id.substring(0,8)"></performance-report>
    </div>
</div>	


