<div aria-label="Test Report" layout="column" ng-controller="ReportOverviewPerfCtrl">
	<!-- <div layout="row" class="breadcrumbs" layout-align="start center">
	    <md-button aria-label="menu" hide-gt-md class="md-icon-button">
	      <md-icon md-font-icon="icon-menu" aria-hidden="true"></md-icon>
	    </md-button>

	    <div class="pl-8" layout="row" layout-align="start center">
	      <md-icon md-font-icon="icon-home" class="s24"></md-icon>
	      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
	      <a class="text-nowrap-ellipsis">CloudATS v1.1 Portal Test Report</a>
	      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
	      <a>Reports</a>
	    </div>

	</div> -->

 <div class="title padding-left-20 margin-top-20">{{project.name}}</div>
	<div layout="row" flex layout-align="start center" class="padding-left-20 margin-top-5 margin-bottom-16">
    <div layout="column" layout flex="10">
        <div>{{getWord('Test Scripts')}}</div>
        <div>{{project.totalScripts ? project.totalScripts : 0}}</div>
    </div>
    <div layout="column" layout flex="10">
        <div>{{getWord('Last Running')}}</div>
        <div>{{project.last_running === undefined ? 'N/A' : project.last_running}}</div>
    </div>
     <div layout="column" layout layout-align="center center" flex="10" ng-if="project.log">
       <a class='btn-border-line' 
  		 ng-click="viewLog($event)">{{getWord('View Log')}}</a>
    </div>

		<div layout="column" layout flex="10" layout-align="center center" ng-if="project.status==='READY' && project.lastScripts && project.totalScripts">
      <a class='btn-border-line' 
		 	ng-click="runLastScripts()">{{getWord('Run')}}</a>
		</div>
	 	<div layout="column" layout layout-align="center center" flex="10" ng-if="project.isBuilding">
	    <a class='btn-border-line btn-danger' 
		 	ng-click="stopProject(project._id)">{{getWord('Stop')}}</a>
	  </div>
  </div>
	<div class="simple-table-container md-whiteframe-4dp" perfect-scrollbar>
		<div class="table-title">Performance Report</div>
		<div class="ms-responsive-table-wrapper">
			<table class="simple">
				<thead>
					<tr>
						<th>#</th>
						<th>Report Title</th>
						<th>Test Scripts</th>
						<th>Test Result</th>
						<th>Created Date</th>
						<th>Create By</th>
						<th>Download JTL File</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in project.jobs track by $index" ng-if="i.status 		=== 'Completed'">
            			<td>{{$index+1}}</td>
            			<td><a ng-class="{
                			'report-enable': i.status === 'Completed'}" href-void  ng-click="openJobReport(i._id)">{{i._id}}</a></td>
            			<td>{{i.scripts}}</td>
            			<td><span class="label label-success">{{getWord(i.status)}}</span></td>
            			<td>{{i.created_date}}</td>
            			<td>Cloud ATS</td>
            			<td>
				            <a class = 'btn-border-line btnViewLog btn-download' 
				            download='jtl-file.zip' ng-click="downloadJTL(project._id,i._id)" >{{getWord('Click Here')}}</a>
           				</td>
         			</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>	


