<!-- Breadcrumbbs -->
<div layout="row" class="breadcrumbs" layout-align="start center">

  <div layout="row" layout-align="start center">
    <md-button aria-label="menu" class="md-icon-button" ng-click="toggleProjectNavLeft()">
      <md-tooltip md-direction="right">Navigation Menu</md-tooltip>
      <md-icon md-font-icon="icon-menu" aria-hidden="true"></md-icon>
    </md-button>
  </div>

  <div class="item" layout="row" layout-align="start center">
    <a data-ui-sref="app.projects">Projects</a>
    <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>      
  </div>
  <div class="item" layout="row" layout-align="start center" ng-repeat="item in breadcrumbs">
    <a class="text-nowrap-ellipsis" ng-if="!$last" ng-href="{{$state.href(item.state, item.data)}}">
    {{item.name}}
    </a>
    <span ng-if="$last">{{item.name}}</span>
    <md-icon ng-if="!$last" md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>      
  </div>

  <span flex></span>

  <div class="search-box" layout="row" ng-if="checkTabSampler" layout-align="start center" flex>
		<md-icon md-font-icon="icon-magnify" class="icon s24 mh-16" aria-hidden="true"></md-icon>
		<input class="font-size-14" type="text" placeholder="Search for Sampler" aria-invalid="false" flex> 
 </div>

  <md-button class="animate-slide-down" ng-if="checkTabSampler" ng-click="showCreateNewSampler($event)">
    <div layout="row" layout-align="start center" class="md-primary-fg">
      <md-icon md-font-icon="icon-loupe" aria-hidden="true" class="md-primary-fg"></md-icon>
      <span class="pl-8" flex>New Sampler</span>
    </div>
  </md-button>

  <md-button class="animate-slide-down" ng-click="updateScript()" ng-show="hasChanged">
    <div layout="row" layout-align="start center" class="md-primary-fg">
      <md-icon md-font-icon="icon-floppy" aria-hidden="true" class="md-primary-fg"></md-icon>
      <span class="pl-8" flex>Update</span>
    </div>
  </md-button>
</div>
<!-- End breadcrumbs -->

<div ng-cloak>
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
      <md-tab label="Infomation">
        <md-content class="md-padding" style="margin: 16px; padding:16px" layout="column" flex="100">
        	
        	<md-input-container flex>
        		<label>Script Name</label>
        		<input type="text" flex="20" ng-model="script.info.name">
        	</md-input-container>
			    
			    <div layout>
			    	<div flex="20" layout layout-align="start center">
			        <span class="md-body-1">Concurrent Users</span>
			      </div>
			    	<div flex="70" layout></div>
			    	<span layout layout-align="start center" class="label label-success margin-left-10">{{script.info.number_threads * script.info.number_engines}}</span>
			    </div>
			    <div layout>
			      <div flex="20" layout layout-align="start center">
			        <span class="md-body-1">Users Per Engine</span>
			      </div>
			      <div flex="70" layout layout-align="center center">
			      	<md-slider  min="1" max="1000" flex class="md-accent" md-discrete ng-model="script.info.number_threads" step="1" aria-label="users">
			      </md-slider>
			      </div>
			      <md-input-container>
			        <input type="number" min="1" max="1000" aria-label="UsersPerEngine" ng-model="script.info.number_threads" class="text-center" flex>
			      </md-input-container>
			    </div>
			     <div layout>
			      <div flex="20" layout layout-align="start center">
			        <span class="md-body-1">Number Of Engines</span>
			      </div>
			      <div flex="70" layout layout-align="center center">
			      	<md-slider min="1" max="5" flex aria-label="engines" ng-model="script.info.number_engines" class="md-accent" md-discrete step="1">
			      </md-slider>
			      </div>
			      <md-input-container>
			        <input type="number" min="1" max="5" aria-label="engine" ng-model="script.info.number_engines"  class="text-center"  flex>
			      </md-input-container>
			    </div>
			     <div layout>
			      <div flex="20" layout layout-align="start center">
			        <span class="md-body-1">Ram up</span>
			      </div>
			      <div flex="70" layout layout-align="center center">
			      	<md-slider min="0" max="100" flex aria-label="NumberOfEngines" ng-model="script.info.ram_up" class="md-accent" md-discrete step="1">
			      </md-slider>
			      </div>
			      <md-input-container>
			        <input type="number" min="0" max="100" aria-label="ram up" ng-model="script.info.ram_up"  class="text-center"  flex>
			      </md-input-container>
			    </div>
			     <div layout>
			      <div flex="20" layout layout-align="start center">
			        <span class="md-body-1">Loops</span>
			      </div>
			      <div flex="70" layout layout-align="center center">
			      	<md-slider min="1" max="10" flex aria-label="loop" ng-model="script.info.loops" class="md-accent" md-discrete step="1">
			      </md-slider>
			      </div>
			      <md-input-container>
			        <input type="number" min="1" max="10" aria-label="loops" ng-model="script.info.loops"  class="text-center"  flex>
			      </md-input-container>
			    </div>
        </md-content>
      </md-tab>
      <md-tab label="Sampler">
        <md-content class="md-hue-1" >
		    <div class="samplers-container" layout="row" layout-align="start start" flex="100" layout-wrap dnd-list="script.samplers" dnd-horizontal-list="true">
		      <div ng-repeat="sampler in script.samplers" layout="row"  flex="20" class="case ms-card animate-slide-left" dnd-draggable="sampler"  
		        dnd-type="'containerType'" dnd-effect-allowed="move" 
		        dnd-moved="script.samplers.splice($index, 1)"> 
		      	<div class="ms-card-content-wrapper" layout="column" >
		          <div layout="row" class="p-8">
		            <a href-void ng-click="showSamplerInfomation($event, sampler)" class="md-primary-fg text-nowrap-ellipsis">
		              {{sampler.name}}
		            </a>  
		          </div>
		          <div layout="row" layout-wrap layout-align="start center" flex>
		            <div class="pl-8 pb-8" layout="row" flex="100" layout-align="start center">
		              <div layout="row" flex="100">
		                <span class="text-bold pr-8" flex="45" >Sampler URL : </span>
		                <span class="text-nowrap-ellipsis" flex>
		                  <md-tooltip>{{sampler.url}}</md-tooltip>
		                  {{sampler.url}}
		                </span>                
		              </div>
		            </div>
		          </div>
		          <div layout="row" class="p-8 border-top">
		            <span class="badge-order white-fg green-400-bg width-24 text-center">{{$index+1}}</span>
		            <span flex></span>
		            <a href-void ng-click="deleteSampler($event, sampler)">
		              <md-tooltip>Delete</md-tooltip>
		              <md-icon md-font-icon="s16 icon-close" class="md-warn-fg"></md-icon>
		            </a>
		          </div>
		        </div>
		      </div>
		    </div>
		 </md-content>
      </md-tab>
    </md-tabs>
  </md-content>
</div>