<div class="search-box" layout="row" layout-align="start center" ng-controller="ScriptsPerfCtrl" flex>
  <md-icon md-font-icon="icon-magnify" class="icon s24 mh-16" aria-hidden="true"></md-icon>
  <input class="font-size-14" type="text" placeholder="Search for Script" aria-invalid="false" flex>
  <md-button class="md-icon-button" aria-label="Create New Script" ng-click="create($event)">
    <md-tooltip>
      Create New Script
    </md-tooltip>
    <md-icon md-font-icon="icon-plus" aria-hidden="true"></md-icon>
  </md-button>  
</div>