#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#layout-horizontal-navigation {
  overflow: visible;
  height: 100%;
  max-height: 100%;
}

#layout-horizontal-navigation #content-container {
  position: relative;
  overflow: hidden;
}

#layout-horizontal-navigation #content-container #content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.master-toolbar {
  background-color: #2E62B1 !important;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  height: 64px;
  min-height: 64px;
  max-height: 64px;
  z-index: 55 !important;
}

.master-toolbar .logo {
  border-right: 1px solid rgba(255,255,255,0.2)
}

.master-toolbar .logo > img {
  max-height: 50px;
  padding: 0px 10px 10px 0px;
}

.master-toolbar .nav .nav-button {
  height: 64px;
  background: transparent; 
}

.master-toolbar .nav .nav-button a {
  text-decoration: none !important;
}

.master-toolbar .nav span {
  color: rgba(255,255,255,0.87);
}


.master-toolbar .space {
  height: 50px; 
  border-left: 1px solid rgba(255,255,255,0.2);
  padding: 0 16px;
  margin: 0;
}

.master-toolbar .space > span {
  color: rgba(255,255,255,0.87);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 36px;
  font-weight: 500;
  font-size: 14px;
}

.master-toolbar .user-menu-bar {
  padding-right: 0px;
}

.master-toolbar .user-menu-bar .avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
}

.master-toolbar .user-menu-bar .user-button {
  margin: 0;
  padding: 0 16px;
  height: 64px;
  text-transform: none;
  background: transparent;
}

.master-toolbar .user-menu-bar .user-button span, .master-toolbar .user-menu-bar .user-button md-icon {
  color: rgba(255,255,255,0.87);
}

#dashboard {
  padding: 16px;
}

.tr-hover > tbody > tr:hover,
.div-list:hover {
  background: #E3F2FD;
  cursor: pointer;
}

.c3 .c3-axis text {
  fill: rgba(0, 0, 0, 0.66);
}

#projects {
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#projects .projects-search-container {
  padding: 28px;
  height: 104px;
  min-height: 104px;
  max-height: 104px;
}

#projects .projects-search-container .projects-search {
  height: 56px;
  line-height: 56px;
  padding: 18px;
  background: #FFFFFF;
}

#projects .projects-search .icon {
  margin: 0;
}

#projects .projects-search input {
  padding-left: 16px !important;
  height: 56px;
  color: rgba(0, 0, 0, 0.54);
}

#projects .projects-action {
  border-left: 1px solid;
}

#projects .projects-container {
  margin-right: 21px; 
  margin-left: 21px;
}

#projects .projects-container .project .ms-card-content-wrapper {
  border-left: 3px solid rgb(39,84,152) !important;
}

#projects .projects-container .project .text,
.text-nowrap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: inherit;
}

.ms-navigation-button.active {
  border-left: 4px solid rgb(39,84,152) !important;
  background: rgba(0, 0, 0, 0.1);
}

button.action-icon:hover > * {
  color: #000000;
}

.login-toast .md-toast-content {
  box-shadow: none !important; 
  background-color: #D32F2F !important;
}

.md-input-email-validate {
  opacity: 1;margin-top: 0px;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  opacity: 1;
  margin-top: 0;
  padding-top: 5px;
}
.flag {
  width: 16px;
  height: 11px;
  background: url(../img/flags/jp.png) no-repeat;
  margin-right: 8px;
  display: inline-block;
}
