#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#layout-horizontal-navigation {
  overflow: visible;
  height: 100%;
  max-height: 100%;
}

#layout-horizontal-navigation #content-container {
  position: relative;
  overflow: hidden;
}

#layout-horizontal-navigation #content-container #content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.master-toolbar .search-box md-icon,
.master-toolbar .search-box input {
  color: rgba(255,255,255,0.87);
}

.master-toolbar .search-box input::-webkit-input-placeholder {
  color: rgba(255,255,255,0.87);
}
.master-toolbar .search-box input:-moz-placeholder {
  color: rgba(255,255,255,0.87);
}
.master-toolbar .search-box input::-moz-placeholder {
  color: rgba(255,255,255,0.87);
}
.master-toolbar .search-box input:-ms-input-placeholder {
  color: rgba(255,255,255,0.87);
}

.master-toolbar {
  background-color: #2E62B1 !important;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  height: 56px;
  min-height: 56px;
  max-height: 56px;
  z-index: 65 !important;
}

.master-toolbar .logo {
  border-right: 1px solid rgba(255,255,255,0.2)
}

.master-toolbar .logo > img {
  max-height: 50px;
  padding: 0px 10px 10px 0px;
}

.master-toolbar .nav .nav-button {
  height: 56px;
  background: transparent; 
}

.master-toolbar .nav .nav-button a {
  text-decoration: none !important;
}

.master-toolbar .nav span {
  color: rgba(255,255,255,0.87);
}


.master-toolbar .space {
  height: 50px; 
  border-left: 1px solid rgba(255,255,255,0.2);
  padding: 0 16px;
  margin: 0;
}

.master-toolbar .space > span {
  color: rgba(255,255,255,0.87);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 36px;
  font-weight: 500;
  font-size: 14px;
}

.master-toolbar .user-menu-bar {
  padding-right: 0px;
}

.master-toolbar .user-menu-bar .avatar {
  width: 40px;
  min-width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  font-size: 17px;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
}

.master-toolbar .user-menu-bar .user-button {
  margin: 0;
  padding: 0 16px;
  height: 56px;
  text-transform: none;
  background: transparent;
}

.master-toolbar .user-menu-bar .user-button span, .master-toolbar .user-menu-bar .user-button md-icon {
  color: rgba(255,255,255,0.87);
}

.tr-hover > tbody > tr:hover,
.div-list:hover {
  background: #E3F2FD;
  cursor: pointer;
}

.c3 .c3-axis text {
  fill: rgba(0, 0, 0, 0.66);
}

#projects,#cases,#sub-content,#case {
  min-height: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#projects .projects-container {
  margin-right: 4px; 
  margin-left: 4px;
  padding-top: 4px;
}

#projects .projects-container .project .ms-card-content-wrapper {
  border-left: 3px solid rgb(39,84,152) !important;
}

#projects .projects-container .project .text,
.text-nowrap-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: inherit;
}

.ms-navigation-button.active {
  border-left: 4px solid rgb(39,84,152) !important;
  background: rgba(0, 0, 0, 0.1);
}

button.action-icon:hover > * {
  color: #000000;
}

a.action-icon:hover > * {
  color: #000000;
}

.login-toast .md-toast-content {
  box-shadow: none !important; 
  background-color: #D32F2F !important;
}

.md-input-email-validate {
  opacity: 1;margin-top: 0px;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  opacity: 1;
  margin-top: 0;
  padding-top: 5px;
}
.flag {
  width: 16px;
  height: 11px;
  background: url(../img/flags/jp.png) no-repeat;
  margin-right: 8px;
  display: inline-block;
}

#loading-bar .bar {
  background-color: rgb(244,67,54);
  top: 56px;
}

.sidenav-toggle {
  margin: 0 !important;
  width: 40px !important;
  height: 40px !important;
  border-radius: 0 !important;
  border-right: 1px solid rgba(0, 0, 0, 0.12) !important;
}

.search-box {
  background: rgba(255,255,255,.15);
  border-radius: 2px;
}

.search-box input {
  background: none; 
  border: none; 
  box-sizing: border-box;
}

/*Drag and drop css*/
[dnd-list] .dndDraggingSource {
    display: none;
}

[draggable] {
  /* not applied by the directive, but useful to indicate a draggable element */
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: move;
}

.dndDragging {
  opacity: 0.5;
}

.dndPlaceholder {
  background-color: #ddd !important;
  display: block;
  border-radius: 2px;
  border: 3px dashed;
  position: relative;
  width: 25%;
  padding: 5px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 60px;
}

.test-case-list .md-subheader-inner {
  padding: 0 !important;
}
.breadcrumbs {
  margin-top: 16px;
  margin-bottom: 8px;
  height: 24px; 
  min-height: 24px; 
  max-height: 24px;
}

.no-padding-top {
  padding-top: 0px !important;
}

.header-box {
  padding-bottom: 12px;
}

.header-box .header-info {
  padding: 12px;
}
.header-box .header-logo {
  padding: 12px 12px 0 12px;
}

.header-box .header-action {
  padding: 0 4px;
}
.badge-order {
  border-radius: 20px;
}
.selected-case {
  min-height: 60px !important;
} 
