<div id="dashboard">
  
  <div layout="row" flex="100" layout-wrap>
    
    <!-- Widgets -->
    <div layout="row" flex="100" class="ms-widget">
      <div class="ms-widget-front white-bg p-16">
        
        <!--Head-->
        <div layout="row" layout-align="space-between center" class="pb-8 border-bottom">
          <div class="h3"><span >Recent Finished Projects</span></div>
          <md-menu>
            <md-button aria-label="Settings" class="md-icon-button" ng-click="$mdOpenMenu()">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="getProjects(10)">Last 10</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="getProjects(15)">Last 15</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <!--End Head-->

        <!--Body-->
        <div layout="row" layout-align="start center">
          <div id="chart">
            
          </div>
        </div>
        <!--End Body-->

      </div>
    </div>

  </div>

  <div layout="row" flex="100" layout-wrap>
    
    <div layout="row" flex="33" class="ms-widget">
      <div class="ms-widget-front white-bg p-16">

        <!--Head-->
        <div layout="row" layout-align="space-between center" class="pb-8 border-bottom">
          <div class="h3"><span >Top Passed Projects</span></div>
          <md-menu>
            <md-button aria-label="Settings" class="md-icon-button" ng-click="$mdOpenMenu()">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button>Last 10</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>Last 15</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <!--End Head-->

        <!--Body-->
        <div layout="row" layout-align="space-between center" class="pv-16">
          <span class="grey-fg text-bold pl-8">Project name</span>
          <span flex></span>
          <span class="grey-fg text-bold pr-8">Percent(%)</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">Hoai-FHU</span>
          <span flex></span>
          <span class="text-bold green-fg pr-8">100</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">Test Body Shop Site</span>
          <span flex></span>
          <span class="text-bold green-fg pr-8">75</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">[Demo] Test JBoss Site</span>
          <span flex></span>
          <span class="text-bold green-fg pr-8">25</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">FHU</span>
          <span flex></span>
          <span class="text-bold green-fg pr-8">16.67</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">FHU</span>
          <span flex></span>
          <span class="text-bold green-fg pr-8">0</span>            
        </div>
        <!--End Body-->

      </div>
    </div>

    <div layout="row" flex="33" class="ms-widget">
      <div class="ms-widget-front white-bg p-16">

        <!--Head-->
        <div layout="row" layout-align="space-between center" class="pb-8 border-bottom">
          <div class="h3"><span >Top Failed Projects</span></div>
          <md-menu>
            <md-button aria-label="Settings" class="md-icon-button" ng-click="$mdOpenMenu()">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button>Last 10</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>Last 15</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <!--End Head-->

        <!--Body-->
        <div layout="row" layout-align="space-between center" class="pv-16">
          <span class="grey-fg text-bold pl-8">Project name</span>
          <span flex></span>
          <span class="grey-fg text-bold pr-8">Percent(%)</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">JIEM</span>
          <span flex></span>
          <span class="text-bold red-800-fg pr-8">100</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">FHU-31032016</span>
          <span flex></span>
          <span class="text-bold red-800-fg pr-8">100</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">FHU</span>
          <span flex></span>
          <span class="text-bold red-800-fg pr-8">83.33</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">[Demo] Test JBoss Site</span>
          <span flex></span>
          <span class="text-bold red-800-fg pr-8">75</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">Test Body Shop Site</span>
          <span flex></span>
          <span class="text-bold red-800-fg pr-8">25</span>            
        </div>
        <!--End Body-->

      </div>
    </div>

    <div layout="row" flex="33" class="ms-widget">
      <div class="ms-widget-front white-bg p-16">

        <!--Head-->
        <div layout="row" layout-align="space-between center" class="pb-8 border-bottom">
          <div class="h3"><span >Top Biggest Projects</span></div>
          <md-menu>
            <md-button aria-label="Settings" class="md-icon-button" ng-click="$mdOpenMenu()">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button>Last 10</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>Last 15</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <!--End Head-->

        <!--Body-->
        <div layout="row" layout-align="space-between center" class="pv-16">
          <span class="grey-fg text-bold pl-8">Project name</span>
          <span flex></span>
          <span class="grey-fg text-bold pr-8">Test Case(s)</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">JIEM</span>
          <span flex></span>
          <span class="text-bold blue-900-fg pr-8">56</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">FHU</span>
          <span flex></span>
          <span class="text-bold blue-900-fg pr-8">27</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">Test Body Shop Site</span>
          <span flex></span>
          <span class="text-bold blue-900-fg pr-8">23</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">[Demo] Test JBoss Site</span>
          <span flex></span>
          <span class="text-bold blue-900-fg pr-8">4</span>            
        </div>
        <div layout="row" layout-align="space-between center" class="div-list pv-16 border-top">
          <span class="pl-8">TC 25</span>
          <span flex></span>
          <span class="text-bold blue-900-fg pr-8">4</span>            
        </div>
        <!--End Body-->

      </div>
    </div>

    <div layout="row" flex="100" class="ms-widget">
      <div class="ms-widget-front white-bg p-16">
        
        <!--Head-->
        <div layout="row" layout-align="space-between center" class="pb-8 border-bottom">
          <div class="h3"><span >Top Error Projects</span></div>
          <md-menu>
            <md-button aria-label="Settings" class="md-icon-button" ng-click="$mdOpenMenu()">
              <md-icon md-font-icon="icon-dots-vertical"></md-icon>
            </md-button>
            <md-menu-content>
              <md-menu-item>
                <md-button>Last 10</md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button>Last 15</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <!--End Head-->

        <!--Body-->
        <div layout="row" layout-align="start center">
          <table class="simple tr-hover">
            <thead>
              <th><span class="text-bold">#</span></th>
              <th><span class="text-bold">Project name</span></th>
              <th><span class="text-bold">Samplers</span></th>
              <th><span class="text-bold">Number of engines</span></th>
              <th><span class="text-bold">User per engines</span></th>
              <th><span class="text-bold">Ram up(s)</span></th>
              <th><span class="text-bold">Loops</span></th>
              <th><span class="text-bold">Error rate(%)</span></th>
            </thead>
            <tbody>
              <tr>
                <td><span class="text-bold blue-900-fg">1</span></td>
                <td>
                  <span >Mock 1</span>
                </td>
                <td><span >20</span></td>
                <td><span >5</span></td>
                <td><span >1000</span></td>
                <td><span >5</span></td>
                <td><span >1</span></td>
                <td><span class="text-bold red-800-fg">98</span></td>
              </tr>
              <tr>
                <td><span class="text-bold blue-900-fg">2</span></td>
                <td><span >Mock 2</span></td>
                <td><span >20</span></td>
                <td><span >5</span></td>
                <td><span >1000</span></td>
                <td><span >5</span></td>
                <td><span >1</span></td>
                <td><span class="text-bold red-800-fg">98</span></td>
              </tr>
              <tr>
                <td><span class="text-bold blue-900-fg">3</span></td>
                <td><span >Mock 3</span></td>
                <td><span >20</span></td>
                <td><span >5</span></td>
                <td><span >1000</span></td>
                <td><span >5</span></td>
                <td><span >1</span></td>
                <td><span class="text-bold red-800-fg">98</span></td>
              </tr>
              <tr>
                <td><span class="text-bold blue-900-fg">4</span></td>
                <td><span >Mock 4</span></td>
                <td><span >20</span></td>
                <td><span >5</span></td>
                <td><span >1000</span></td>
                <td><span >5</span></td>
                <td><span >1</span></td>
                <td><span class="text-bold red-800-fg">98</span></td>
              </tr>
              <tr>
                <td><span class="text-bold blue-900-fg">5</span></td>
                <td><span >Mock 5</span></td>
                <td><span >20</span></td>
                <td><span >5</span></td>
                <td><span >1000</span></td>
                <td><span >5</span></td>
                <td><span >1</span></td>
                <td><span class="text-bold red-800-fg">98</span></td>
              </tr>
              <tr>
                <td><span class="text-bold blue-900-fg">6</span></td>
                <td><span >Mock 6</span></td>
                <td><span >20</span></td>
                <td><span >5</span></td>
                <td><span >1000</span></td>
                <td><span >5</span></td>
                <td><span >1</span></td>
                <td><span class="text-bold red-800-fg">98</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--End Body-->

      </div>
    </div>

  </div>

  </div>
</div>