<md-dialog aria-label="Upload Selenium" ng-cloak >
    <md-toolbar>
      <div class="md-toolbar-tools md-primary-bg">
        <span flex="95" class="md-title text-nowrap">Upload Selenium Project</span>
        <md-button ng-click="cancel()" aria-label="cancel">
          <md-icon md-font-icon="icon-cancel" flex="5" ></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content >
        <form name="uploadForm">  
          <div layout="row" flex="100">
              <label flex="40">Upload Code</label>
              <input type="file" accept=".zip" ng-model="file" onchange="angular.element(this).scope().uploadFile(this)">
          </div>
        </form>
    </md-dialog-content>
    <md-dialog-actions layout="row" >
       <div class="ms-stepper-controls layout-align-center-center layout-row" layout="row" layout-align="center center">
              <button id="upload" class="md-accent md-raised md-button ng-scope md-ink-ripple md-default-theme" type="button" aria-label="upload">
                <span class="ng-scope" ng-click="uploadSelenium()">Upload</span>
              </button>
            </div>
    </md-dialog-actions>
</md-dialog>
