<div id="layout-vertical-navigation" layout="row" flex 
  ng-init="isSidenavOpen = true; isSidenavLockedOpen = true">

  <md-sidenav id="vertical-navigation" 
    class="md-sidenav-left md-background-bg md-hue-1"
    md-component-id="project-nav-left" 
    md-is-locked-open="isSidenavLockedOpen"
    md-is-open="isSidenavOpen" perfect-scrollbar>

    <div class="header-box" id="header-box" data-ui-view="header-box" ng-show="isSidenavLockedOpen">
    </div>

    <md-divider></md-divider>

    <div class="ms-navigation ms-scroll" perfect-scrollbar>
      <project-nav></project-nav>
    </div>
  </md-sidenav>


  <md-content id="sub-content" data-ui-view="sub-content" class="md-hue-1" flex>
  </md-content>
</div> 