<div aria-label="Selenium Upload" id="case" layout="column" perfect-scrollbar>

	<div class="simple-table-container md-whiteframe-4dp" >
		<div layout="row" flex="100" layout-align="start center">
			<div class="md-title mb-32" flex="40">Test Result</div>
			<div flex="60" layout-align="center">
				<a class="btn-border-line btnViewLog" ng-click="showlogJob()">{{getWord('View Log')}}</a>
				<a class="btn-border-line btnViewLog">{{getWord('Watch')}}</a>
				<a class="btn-border-line btnViewLog" ng-click="stopProject(project._id)">{{getWord('Stop')}}</a>
			</div> 
		</div>
		<div class="ms-responsive-table-wrapper">
			<table class="simple" ms-responsive-table="">
				<thead>
					<tr>
						<th>#</th>
				        <th>{{getWord('Title Log')}}</th>
				        <th>{{getWord('Project Result')}}</th>
				        <th>{{getWord('Created Date')}}</th>
				        <th>{{getWord('Create By')}}</th>
				        <th>{{getWord('Download Result')}}</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="log in listLogs track by $index">
						<td>{{$index+1}}</td>
	            		<td class="test-report" ng-click="showLogJobId($event, log.jobId)"><a>	Log-{{log.jobId}}</a>
	            		</td>
	            		<td><span ng-class="{'label label-error': log.result === 'Fail',
	            		'label label-success': log.result === 'Pass'}">{{getWord(log.result)}}</span></td>
	            		<td>{{log.created_date}}</td>
	            		<td>{{project.creator._id}}</td>
	            		<td><a class = 'btn-border-line' 
	            		download='final-result.tar.gz' ng-click="downloadResult(project._id,log.jobId)">{{getWord('Click Here')}}</a></td>
	          		</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>	


