<div id="case" layout="column" flex>

  <!-- Breadcrumbbs -->
  <div layout="row" class="breadcrumbs" layout-align="start center">

    <div layout="row" layout-align="start center">
      <md-button aria-label="menu" class="md-icon-button" ng-click="toggleProjectNavLeft()">
        <md-tooltip md-direction="right">Navigation Menu</md-tooltip>
        <md-icon md-font-icon="icon-menu" aria-hidden="true"></md-icon>
      </md-button>
    </div>

    <div class="item" layout="row" layout-align="start center">
      <a data-ui-sref="app.projects">Projects</a>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>      
    </div>
    <div class="item" layout="row" layout-align="start center" ng-repeat="item in breadcrumbs">
      <a class="text-nowrap-ellipsis" ng-if="!$last" ng-href="{{$state.href(item.state, item.data)}}">
      {{item.name}}
      </a>
      <span ng-if="$last">{{item.name}}</span>
      <md-icon ng-if="!$last" md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>      
    </div>

    <span flex></span>

    <md-button class="animate-slide-down" ng-click="save()" ng-show="hasChanged">
      <div layout="row" layout-align="start center" class="md-primary-fg">
        <md-icon md-font-icon="icon-floppy" aria-hidden="true" class="md-primary-fg"></md-icon>
        <span class="pl-8" flex>Save change</span>
      </div>
    </md-button>

    <md-button class="animate-slide-down" ng-click="cancel()" ng-show="hasChanged">
      <div layout="row" layout-align="start center" class="grey-700-fg">
        <md-icon md-font-icon="icon-cancel" aria-hidden="true" class="grey-700-fg"></md-icon>
        <span class="pl-8" flex>Cancel</span>
      </div>
    </md-button>

    <md-button ng-click="setting($event)">
      <div layout="row" layout-align="start center" class="md-warn-fg md-hue-2">
        <md-icon md-font-icon="icon-cog" aria-hidden="true" class="md-warn-fg md-hue-2"></md-icon>
        <span class="pl-8" flex>Settings</span>          
      </div>
    </md-button>
  </div>
  <!-- End breadcrumbs -->

  <div layout="row" class="content-wrapper" flex>

    <div class="case-container" flex="85" layout="row" layout-align="start start" layout-wrap
      perfect-scrollbar
      dnd-list="caze.steps" 
      dnd-horizontal-list="true" 
      dnd-external-sources="false"
      dnd-inserted="dropCallBack(index, event, item)">

      <div ng-repeat="step in caze.steps" layout="row" flex="20"
        class="step ms-card animate-slide-left"
        dnd-draggable="step"  
        dnd-type="'containerType'"
        dnd-effect-allowed="move"
        dnd-moved="caze.steps.splice($index, 1)">

        <!-- In case present build-in keyword -->
        <div class="ms-card-content-wrapper" layout="column" ng-if="!step.steps">
          <div layout="row" class="p-8">
            <a href-void ng-click="clickToStep($event, step, $index)" class="md-primary-fg text-nowrap-ellipsis">
              {{step.type}}
            </a>  
          </div>
          <div layout="row" layout-wrap layout-align="start center" flex>
            <div class="pl-8 pb-8" ng-repeat="param in step.params" layout="row" flex="100" layout-align="start center">
              <div layout="row">
                <span class="text-bold pr-8">{{param}}</span>
                <span class="text-nowrap-ellipsis">
                  <md-tooltip>{{step[param]}}</md-tooltip>
                  {{step[param]}}
                </span>                
              </div>
            </div>
          </div>
          <div layout="row" class="p-8 border-top">
            <span class="badge-order white-fg green-400-bg width-24 text-center">{{$index+1}}</span>
            <span flex></span>
            <a href-void ng-click="removeStep($index)">
              <md-tooltip>Remove</md-tooltip>
              <md-icon md-font-icon="s16 icon-close" class="md-warn-fg"></md-icon>
            </a>
          </div>
        </div>
        <!-- End build-in keyword -->

        <!-- In case present group keywords -->
        <div class="ms-card-content-wrapper" layout="column" ng-if="step.steps">
          <div layout="row" class="p-8">
            <span class="text-bold pr-8">[Group]</span>
            <a href-void ng-click="clickToStep($event, step, $index)" class="md-primary-fg text-nowrap-ellipsis">
              {{step.name}}
            </a>  
          </div>
          <div layout="row" class="p-8" flex>
            <span class="text-bold pr-8">Step(s)</span>
            <span class="text-nowrap-ellipsis">
              {{step.steps.length}} step(s)
            </span>                
          </div>

          <div layout="row" class="p-8 border-top">
            <span class="badge-order white-fg green-400-bg width-24 text-center">{{$index+1}}</span>
            <span flex></span>
            <a href-void ng-click="removeStep($index)">
              <md-tooltip>Remove</md-tooltip>
              <md-icon md-font-icon="s16 icon-close" class="md-warn-fg"></md-icon>
            </a>
          </div>
        </div>
        <!-- End group keywords -->

      </div>
    </div>

    <div layout="row" flex="15" class="list-steps ms-widget md-whiteframe-14dp">
      <div class="ms-widget-front white-bg" layout="column" flex>
        
        <div layout="row" layout-align="start center" class="p-16 filter">
          <md-icon md-font-icon="icon-magnify"></md-icon>
          <input class="pl-8" flex placeholder="Search for keyword" ng-model="queryText">
          <a href-void ng-show="queryText" ng-click="queryText = undefined;"><md-icon md-font-icon="icon-close"></md-icon></a>
        </div>

        <md-content perfect-scrollbar>
          <!-- Custom groups -->
          <div layout="row" flex="100" layout-wrap ng-if="customs">
            <div class="category-container" flex="100" layout="column">
              
              <div class="category expanded md-primary-bg" 
                ng-click="toggleCategory($event)" 
                layout="row" layout-align="start center">
                <span>Group Keywords</span>
                <span flex></span>
                <md-icon md-font-icon="icon-chevron-right" class="white-fg"></md-icon>                
              </div>

              <div layout="column" flex="100" class="steps-container">
                <div class="border-bottom step" ng-repeat="group in customs"
                  dnd-draggable="group"
                  dnd-effect-allowed="move">
                  <span>{{group.name}}</span>
                </div>
              </div>

            </div>
          </div>
          <!-- End custom groups -->

          <div layout="row" flex="100" layout-wrap>
            <div class="category-container" ng-repeat="(cat, steps) in keywords"
              flex="100" layout="column">
              <div class="category expanded md-primary-bg" 
                ng-click="toggleCategory($event)" 
                layout="row" layout-align="start center">
                <span>{{cat}}</span>
                <span flex></span>
                <md-icon md-font-icon="icon-chevron-right" class="white-fg"></md-icon>
              </div>
              <div layout="column" flex="100" class="steps-container">
                <div class="border-bottom step" 
                  ng-repeat="(key, value) in steps"
                  ng-init="step = {}; step['type'] = key; step.params = []; step.isNew = true"
                  dnd-draggable="step"
                  dnd-effect-allowed="move" layout="column">
                  
                  <div layout="row" layout-align="start center" layout-wrap>
                    <span class="text-bold">
                      <md-tooltip>{{value.description}}</md-tooltip>
                      {{key}}
                    </span>
                    <span>(</span>
                    <span ng-repeat="(key, value) in value.params" ng-init="step.params[$index] = key;">
                      <md-tooltip>{{value}}</md-tooltip>
                      {{key}}
                      <span ng-if="!$last">,</span>
                    </span>
                    <span>)</span>
                  </div>  

                </div>
              </div>
            </div>

          </div>
        </md-content>
      </div>
    </div>

  </div>
</div>

<!-- <div id="case">
  <md-content>
    <md-tabs md-dynamic-height md-border-bottom>
      <md-tab label="script">
        <div layout="row" flex style="min-height: 100%; max-height: 100%; height: 100%;overflow: hidden">
          <md-content class="md-padding"  class="md-hue-1" flex="80" perfect-scrollbar>
            <div class="projects-container"  flex="100" layout-wrap layout="row"
              dnd-list="case.steps" 
              dnd-horizontal-list="true" 
              dnd-external-sources="false"
              dnd-inserted="dropCallBack(event, index, item, type, external)"
              dnd-disable-if="!organizeMode" style="min-height: 30px;">
              <div ng-repeat="step in case.steps track by $index" layout="row" flex="25" class="project ms-card"  
                dnd-draggable="step"  
                dnd-type="'containerType'"
                dnd-effect-allowed="move" 
                dnd-moved="case.steps.splice($index, 1)"
                dnd-disable-if="!organizeMode"
                ng-class="{'organize-mode' : organizeMode}"> 
                <div class="ms-card-content-wrapper" style="border-left: 3px solid #2E62B1;">

                  <div layout="column">
                    <div layout="row" flex>
                      <a ng-if="!step.params.length" class="md-primary-fg text-nowrap-ellipsis h5 p-16" style="cursor: pointer">
                        <md-tooltip>{{step.type}}</md-tooltip>
                        {{step.type}}
                      </a>
                      <a ng-if="step.params.length" ng-click="clickToStep($event, step, $index)" class="md-primary-fg text-nowrap-ellipsis h5 p-16" style="cursor: pointer">
                        <md-tooltip>{{step.type}}</md-tooltip>
                        {{step.type}}
                      </a>
                      <span flex=></span>
                      <md-icon ng-if="organizeMode" md-font-icon="icon-close-circle" class="s22 md-warn-fg" style="cursor: pointer" ng-click="removeStep($index)"></md-icon>
                    </div>
                    <div layout="row">
                      <span flex></span>
                      <span class="badge-order white-fg green-400-bg width-20 text-center">{{$index+1}}</span>
                    </div>
                  </div>
                  <md-divider></md-divider>

                </div>
              </div>
            </div>

            <div layout="row" class="">
              <md-button class="md-blue-300-bg md-primary" ng-click="save()" ng-if="organizeMode">
                Save
              </md-button>
              <md-button class="md-accent-bg " ng-click="edit()" ng-if="!organizeMode">
                Edit
              </md-button>
              <md-button class="" ng-click="cancel()" ng-if="organizeMode">
                Cancel
              </md-button>
            </div>
          </md-content>
          <div layout="column" flex style="height: 100%; min-height: 100%; max-height: 100%; position: relative;">
            <md-content class="md-background-bg" flex perfect-scrollbar>
            <section>
              <md-subheader class="md-primary-bg">Customs</md-subheader>
              <md-list layout="column" layout-padding class="margin-bottom-10">
                <md-list-item class="md-1-line border-bottom step-list" ng-repeat="custom in customs" ng-class="{'organize-mode' : organizeMode}" 
                  dnd-draggable="custom"
                  dnd-effect-allowed="move"
                  dnd-disable-if="!organizeMode">
                  <div class="md-list-item-text">
                    {{custom.name}}
                  </div>
                </md-list-item>
              </md-list>
            </section>
            <section ng-repeat="cat in categories">
              <md-subheader class="md-primary-bg">{{cat}}</md-subheader>
              <md-list layout="column" layout-padding class="margin-bottom-10">
                <md-list-item class="md-1-line border-bottom step-list" ng-repeat="keyword in keywords[cat] track by $index" ng-class="{'organize-mode' : organizeMode}" 
                  dnd-draggable="keyword" 
                  dnd-effect-allowed="move"
                  dnd-disable-if="!organizeMode">
                  <div class="md-list-item-text">
                    {{keyword.type}}
                  </div>
                </md-list-item>
              </md-list>
            </section>
          </md-content>  
          </div>
          
        </div>
      </md-tab>
      <md-tab label="Data" ng-if="params.length">
        <md-content>
          <md-toolbar class="md-table-toolbar md-default">
          <div class="md-toolbar-tools" layout="row" flex>
            <md-button ng-click="addRow($event)">
              <md-icon md-font-icon="icon-plus"></md-icon> Add Row
            </md-button>
            <span flex></span>
            <form name="data_form" class="data-form">
              <md-input-container class="md-block">
              <input type="text" name="data_name" required ng-model="data_name">
              <div ng-messages="data_form.data_name.$error" role="alert" aria-live="assertive" >
                  <div ng-message="required">Data name is required</div>
              </div>
              </md-input-container>
            </form>

            <md-button ng-click="saveData($event)" ng-disabled="data_form.$invalid" ng-if="editData">
              <md-icon md-font-icon="icon-save"></md-icon> Save
            </md-button>
            <md-button ng-click="cancelData()" ng-if="editData" style="margin-right:20px;">
              CANCEL
            </md-button>
            <md-button class="md-icon-button" aria-label="More" ng-click="deleteRowDataDriven()">
              <md-icon md-font-icon="icon-delete" ng-if="selected.length" class='md-warn-fg'></md-icon>
            </md-button>
          </div>
        </md-toolbar>
        <md-table-container style="width: 100%" class="padding-10 data-driven">
          <table md-table md-row-select ng-model="selected" md-progress="promise">
            <thead md-head>
              <tr md-row class="data-header md-accent-bg">
                <th md-column ng-repeat="param in params track by $index">
                  <span>{{param}}</span>
                </th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row md-select="i" md-select-id="{{i.$index}}" ng-repeat="i in data track by $index">
                <td md-cell ng-repeat="param in params track by $index">
                  <md-input-container class="data-table md-block">
                    <input value="{{i[param]}}" aria-label="{{i[param]}}" ng-model="i[param]" ng-change="changeData()"/>
                  </md-input-container>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <!-- <md-table-pagination md-limit="query.limit" md-page="query.page" md-total="{{data.length}}" md-on-paginate="onPaginate" md-page-select></md-table-pagination> -->
        <!-- </md-content> --> 
      </md-tab>
    </md-tabs>
  </md-content>
   -->
</div>