<div id="cases" layout="column">

  <!-- Breadcrumbbs -->
  <div layout="row" class="breadcrumbs" layout-align="start center">
    <md-button aria-label="menu" hide-gt-md class="md-icon-button" ng-click="toggleProjectNavLeft()">
      <md-icon md-font-icon="icon-menu" aria-hidden="true"></md-icon>
    </md-button>

    <div class="pl-8" layout="row" layout-align="start center">
      <md-icon md-font-icon="icon-home" class="s24"></md-icon>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
      <a class="text-nowrap-ellipsis">CloudATS v1.1 Portal Test Project</a>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
      <a>Cases</a>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
      <span>Test Case 1</span>      
    </div>

  </div>
  <!-- End breadcrumbs -->

  <md-content class="md-hue-1" perfect-scrollbar>
    <div class="projects-container" layout="row" flex="100" layout-wrap>
      <div ng-repeat="case in cases track by $index" layout="row" flex="25" class="project ms-card"> 
        <div class="ms-card-content-wrapper" style="border-left: 3px solid #2E62B1;">

          <div class="text-nowrap-ellipsis h2 p-16">
            <a href="javascript:void(0)" ng-click="clickCase($event, case._id)" class="md-primary-fg">
              <md-tooltip>{{case.name}}</md-tooltip>
              {{case.name}}
            </a>
          </div>

          <div class="creator ph-16 pb-16" layout="row" layout-align="start center">
            <img class="avatar mr-16" ng-src="styles/img/avatars/male.png">
            <div layout="column" flex>
              <div class="title" layout="row" layout-align="start center">
                <a href="javascript:void(0)" class="text-nowrap-ellipsis" flex>
                  <md-tooltip>haint@cloudats.net</md-tooltip>
                  haint@cloudats.net
                </a>
                <span class="text" flex>created on</span>
              </div>
              <div class="subtitle secondary-text">Apr 13 2016</div>
            </div>
          </div>

          <md-divider></md-divider>

          <div layout="row" layout-align="start center">
            <md-button class="md-icon-button" aria-label="Clone this case" ng-click="clone($event, case._id, case.name)">
              <md-tooltip>Clone this case</md-tooltip>
              <md-icon class="s16 deep-orange-fg" md-font-icon="icon-content-duplicate" aria-hidden="true"></md-icon>
            </md-button>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Delete this case" ng-click="delete($event, case._id)">
              <md-tooltip>Delete</md-tooltip>
              <md-icon class="s16 md-warn-fg" md-font-icon="icon-delete" aria-hidden="true"></md-icon>
            </md-button>
          </div>
          
        </div>
      </div>
    </div>
  </md-content>

</div>