<!-- Breadcrumbbs -->
  <div layout="row" class="breadcrumbs" layout-align="start center">
    <md-button aria-label="menu" class="md-icon-button" ng-click="toggleProjectNavLeft()">
      <md-icon md-font-icon="icon-menu" aria-hidden="true"></md-icon>
    </md-button>

    <div class="pl-8" layout="row" layout-align="start center">
      <md-icon md-font-icon="icon-home" class="s24"></md-icon>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
      <a class="text-nowrap-ellipsis">CloudATS v1.1 Portal Test Project</a>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
      <a>Cases</a>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
      <span>Test Case 1</span>      
    </div>

  </div>
  <!-- End breadcrumbs -->
<div id="case" layout="row">
  <md-content class="md-hue-1" flex="80" perfect-scrollbar>
    <div class="projects-container"  flex="100" layout-wrap layout="row"
      dnd-list="case.steps" 
      dnd-horizontal-list="true" 
      dnd-external-sources="false"
      dnd-disable-if="!organizeMode" style="min-height: 30px;">
      <div ng-repeat="step in case.steps" layout="row" flex="25" class="project ms-card"  
        dnd-draggable="step"  
        dnd-type="'containerType'"
        dnd-effect-allowed="move" 
        dnd-moved="case.steps.splice($index, 1)"
        dnd-disable-if="!organizeMode"
        ng-class="{'organize-mode' : organizeMode}"> 
        <div class="ms-card-content-wrapper" style="border-left: 3px solid #2E62B1;">

          <div layout="column">
            <div layout="row" flex>
              <a ng-if="!step.params.length" class="md-primary-fg text-nowrap-ellipsis h5 p-16" style="cursor: pointer">
                <md-tooltip>{{step.type}}</md-tooltip>
                {{step.type}}
              </a>
              <a ng-if="step.params.length" ng-click="clickToStep($event, step, $index)" class="md-primary-fg text-nowrap-ellipsis h5 p-16" style="cursor: pointer">
                <md-tooltip>{{step.type}}</md-tooltip>
                {{step.type}}
              </a>
              <span flex=></span>
              <md-icon md-font-icon="icon-close-circle" class="s20 md-warn-fg" style="cursor: pointer"></md-icon>
            </div>
            <div layout="row">
              <span flex></span>
              <span class="badge-order white-fg green-400-bg width-20 text-center">{{$index+1}}</span>
            </div>
          </div>
          <md-divider></md-divider>

        </div>
      </div>
    </div>

    <div layout="row" class="">
      <md-button class="md-blue-300-bg md-primary" ng-click="save()" ng-if="organizeMode">
        Save
      </md-button>
      <md-button class="md-accent-bg " ng-click="edit()" ng-if="!organizeMode">
        Edit
      </md-button>
      <md-button class="" ng-click="cancel()" ng-if="organizeMode">
        Cancel
      </md-button>
    </div>
  </md-content>

  <md-content class="md-background-bg" perfect-scrollbar flex>
    <section>
      <md-subheader class="md-primary-bg">Customs</md-subheader>
      <md-list layout="column" layout-padding class="margin-bottom-10">
        <md-list-item class="md-1-line border-bottom step-list" ng-repeat="custom in customs" ng-class="{'organize-mode' : organizeMode}" 
          dnd-draggable="custom"
          dnd-effect-allowed="move"
          dnd-dragend="dropCustom(custom)"
          dnd-disable-if="!organizeMode">
          <div class="md-list-item-text">
            {{custom.name}}
          </div>
        </md-list-item>
      </md-list>
    </section>
    <section ng-repeat="cat in categories">
      <md-subheader class="md-primary-bg">{{cat}}</md-subheader>
      <md-list layout="column" layout-padding class="margin-bottom-10">
        <md-list-item class="md-1-line border-bottom step-list" ng-repeat="keyword in keywords[cat] track by $index" ng-class="{'organize-mode' : organizeMode}" 
          dnd-draggable="keyword" 
          dnd-effect-allowed="move"
          dnd-disable-if="!organizeMode">
          <div class="md-list-item-text">
            {{keyword.type}}
          </div>
        </md-list-item>
      </md-list>
    </section>
  </md-content>
</div>