<div id="cases" layout="column">

  <!-- Breadcrumbbs -->
  <!-- <div layout="row" class="breadcrumbs" layout-align="start center">
    <md-button aria-label="menu" hide-gt-md class="md-icon-button" ng-click="toggleProjectNavLeft()">
      <md-icon md-font-icon="icon-menu" aria-hidden="true"></md-icon>
    </md-button>

    <div class="pl-8" layout="row" layout-align="start center">
      <md-icon md-font-icon="icon-home" class="s24"></md-icon>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
      <a class="text-nowrap-ellipsis">CloudATS v1.1 Portal Test Project</a>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
      <a>Cases</a>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
      <span>Test Case 1</span>      
    </div>

  </div> -->
  <!-- End breadcrumbs -->

  <md-content class="md-hue-1" perfect-scrollbar>
    <div class="projects-container" layout="row" flex="100" layout-wrap>
      <div ng-repeat="case in sharedData.project.cases track by $index" layout="row" flex="20" class="project ms-card"> 
        <div class="ms-card-content-wrapper" style="border-left: 3px solid #2E62B1;">

          <div class="text-nowrap-ellipsis h2 p-16">
            <a href="javascript:void(0)" ng-click="clickCase($event, case._id)" class="md-primary-fg">
              <md-tooltip>{{case.name}}</md-tooltip>
              {{case.name}}
            </a>
          </div>

          <div class="creator ph-16 pb-16" layout="row" layout-align="start center">
            <div layout="column" flex>
              <div layout="row" layout-align="start center">
                <span class="text-bold pr-8">Creator:</span>
                <a href="javascript:void(0)" class="text-nowrap-ellipsis" flex>
                  <md-tooltip>{{case.creator.email}}</md-tooltip>
                  {{case.creator.first_name}} {{case.creator.last_name}}
                </a>
              </div>
              <div layout="row" layout-align="start center">
                <span class="text-bold pr-8 text-nowrap-ellipsis">Created Date:</span>
                <span class="subtitle secondary-text text-nowrap-ellipsis">
                <md-tooltip>{{parse(case.created_date)}}</md-tooltip>
                {{parse(case.created_date)}}
                </span>
              </div>
              <div>
                <span class="text-bold pr-8">Total Step(s):</span> 
                <span>{{case.steps.length}} Step(s)</span>
              </div>
            </div>
          </div>

          <md-divider></md-divider>

          <div layout="row" layout-align="start center">
            <md-button class="md-icon-button" aria-label="Clone this case" ng-click="clone($event, case._id, case.name)">
              <md-tooltip>Clone this case</md-tooltip>
              <md-icon class="s16 deep-orange-fg" md-font-icon="icon-content-duplicate" aria-hidden="true"></md-icon>
            </md-button>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Delete this case" ng-click="delete($event, case._id)">
              <md-tooltip>Delete</md-tooltip>
              <md-icon class="s16 md-warn-fg" md-font-icon="icon-delete" aria-hidden="true"></md-icon>
            </md-button>
          </div>
          
        </div>
      </div>
    </div>
  </md-content>

</div>