<div id="case" layout="column" flex>

  <!-- Breadcrumbbs -->
  <div layout="row" class="breadcrumbs" layout-align="start center">

    <div layout="row" layout-align="start center">
      <md-button aria-label="menu" class="md-icon-button" ng-click="toggleProjectNavLeft()">
        <md-tooltip md-direction="right">Navigation Menu</md-tooltip>
        <md-icon md-font-icon="icon-menu" aria-hidden="true"></md-icon>
      </md-button>
    </div>

    <div class="item" layout="row" layout-align="start center">
      <a data-ui-sref="app.projects">Projects</a>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>      
    </div>
    <div class="item" layout="row" layout-align="start center" ng-repeat="item in breadcrumbs">
      <a class="text-nowrap-ellipsis" ng-if="item.state" ng-href="{{$state.href(item.state, item.data)}}">
      {{item.name}}
      </a>
      <span ng-if="!item.state">{{item.name}}</span>
      <md-icon ng-if="!$last" md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>      
    </div>

    <span flex></span>

    <md-button class="animate-slide-down md-primary" ng-click="save()" ng-show="sharedData.hasChanged " ng-disabled="!validated">
      <div layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-floppy" aria-hidden="true"></md-icon>
        <span class="pl-8" flex>Save</span>
      </div>
    </md-button>

    <md-button class="animate-slide-down" ng-click="cancel()" ng-show="sharedData.hasChanged">
      <div layout="row" layout-align="start center">
        <md-icon md-font-icon="icon-cancel" aria-hidden="true"></md-icon>
        <span class="pl-8" flex>Cancel</span>
      </div>
    </md-button>

    <div class="border-left" layout="row" layout-align="start center">
      <md-button class="md-primary" ng-click="addRow()" ng-disabled="sharedData.dataQueryText">
        <md-tooltip>Add row</md-tooltip>
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-plus" aria-hidden="true"></md-icon>
          <span class="pl-8" flex>Row</span>          
        </div>
      </md-button>
      <md-button class="md-warn" ng-click="deleteRow()" ng-if="selected.length">
        <md-tooltip>Delete selected rows</md-tooltip>
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-minus" aria-hidden="true"></md-icon>
          <span class="pl-8" flex>Row</span>        
        </div>
      </md-button>
      <md-button class="md-primary" ng-click="addColumn($event)" ng-disabled="sharedData.dataQueryText">
        <md-tooltip>Add Column</md-tooltip>
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-plus" aria-hidden="true"></md-icon>
          <span class="pl-8" flex>Column</span>          
        </div>
      </md-button>
      <md-button class="md-accent" ng-click="modifyColumn($event)" ng-disabled="sharedData.dataQueryText">
        <md-tooltip>UnSelect Columns</md-tooltip>
        <div layout="row" layout-align="start center">
          <md-icon md-font-icon="icon-minus" aria-hidden="true"></md-icon>
          <span class="pl-8" flex>Column</span>          
        </div>
      </md-button>

      <md-menu-bar>
        <md-menu md-position-mode="left bottom">
          <md-button ng-click="$mdOpenMenu()">
            <div layout="row" layout-align="start center" class="md-warn-fg md-hue-2">
              <md-icon md-font-icon="icon-cog" aria-hidden="true" class="md-warn-fg md-hue-2"></md-icon>
              <span class="pl-8" flex>Options</span>          
            </div>
          </md-button>

          <md-menu-content width="3">
            <md-menu-item class="md-indent" ng-if="dataId">
              <md-icon md-font-icon="icon-pencil"></md-icon>
              <md-button ng-click="rename($event)">Re-Name</md-button>
            </md-menu-item>
            <md-menu-item class="md-indent">
              <md-icon md-font-icon="icon-upload"></md-icon>
              <md-button ngf-select="addNewFile($files)" accept=".csv"  multiple="false">Upload From Local (CSV)</md-button>
            </md-menu-item>
          </md-menu-content>

        </md-menu>
      </md-menu-bar> 

    </div>
  </div>
  <!-- End breadcrumbs -->

  <div layout="row" class="content-wrapper white-bg md-whiteframe-7dp">
    <md-table-container class="data-driven" flex="100">
      <table md-table md-row-select ng-model="selected">
        <thead md-head>
          <tr md-row class="border-bottom">
            <th md-column ng-repeat="param in params track by $index">
              <span>{{param}}</span>
            </th>
          </tr>
        </thead>
        <tbody md-body>
          <tr md-row md-select="i" md-select-id="{{i.$index}}" 
            ng-repeat="i in dataSource track by $index" ng-init="row=$index;">
            <td md-cell ng-repeat="param in params track by $index" class="cell">
              <md-input-container class="data-table md-block">
                <label>{{param}} value</label>
                <input id="{{param}}_{{row}}" value="{{i[param]}}" aria-label="{{i[param]}}" ng-model="i[param]" ng-change="changeData(param, row)" required auto-width auto-hide-label>
              </md-input-container>
            </td>
          </tr>
        </tbody>
      </table>
    </md-table-container>
  </div>
</div>