<div aria-label="Job Report" id="cases" layout="column">
	<md-content perfect-scrollbar>
		<div layout="row" layout-wrap layout-align="start center" id="chart">
		</div>
		<div class="simple-table-container md-whiteframe-4dp">
			<div class="table-title">
				<span>Job Report</span> 
				<a class="btn-border-line btnViewLog" ng-click="viewLog()">{{getWord('View Log')}}</a>
			</div>
			<div class="ms-responsive-table-wrapper">
				<table class="simple" ms-responsive-table="">
					<thead>
						<tr>
							<th >{{getWord('Test Suite')}}</th>
							<th class="text-left">{{getWord('Test Case')}}</th>
							<th class="text-left">{{getWord('Pass')}}</th>
							<th class="text-left">{{getWord('Fail')}}</th>
							<th class="text-left">{{getWord('Skip')}}</th>
							<th class="text-left">{{getWord('Duration(s)')}}</th>
							<th class="text-left">{{getWord('Test Result')}}</th>
						</tr>
					</thead>
					<tbody>
					    <tr ng-repeat="suiteData in suiteReports">
							<td ><a ng-click="redirectToSuiteReport(suiteData.suiteId, suiteData._id)">{{suiteData.name}}</a></td>
							<td class="text-left">{{suiteData.totalCase}}</td>
							<td class="text-left" style="color: #00B4A1">{{suiteData.totalPass}}</td>
							<td class="text-left" style="color: #ff5050">{{suiteData.totalFail}}</td>
							<td class="text-left" style="color: #ffaa2a">{{suiteData.totalSkip}}</td>
							<td class="text-left">{{suiteData.duration/1000}}</td>
							<td class="text-left"><span  ng-class="{'label label-error': suiteData.test_result === 'Fail','label label-success': suiteData.test_result === 'Pass'}">{{getWord(suiteData.test_result)}}</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</md-content>
</div>	


