<div aria-label="Test Report" ng-controller="ReportFuncCtrl" layout="column">
	<div layout="row" class="breadcrumbs" layout-align="start center">
	    <md-button aria-label="menu" hide-gt-md class="md-icon-button">
	      <md-icon md-font-icon="icon-menu" aria-hidden="true"></md-icon>
	    </md-button>

	    <div class="pl-8" layout="row" layout-align="start center">
	      <md-icon md-font-icon="icon-home" class="s24"></md-icon>
	      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
	      <a class="text-nowrap-ellipsis">CloudATS v1.1 Portal Test Report</a>
	      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>
	      <a>Reports</a>
	    </div>

	</div>
	
	<div class="title padding-left-20 margin-top-20">{{project.name}}</div>
	<div layout="row" flex layout-align="start center" class="padding-left-20 margin-top-5 margin-bottom-16">
    <div layout="column" layout flex="10">
        <div>{{getWord('Test Suites')}}</div>
        <div>{{project.totalSuites}}</div>
    </div>
    <div layout="column" layout flex="10">
        <div>{{getWord('Test Cases')}}</div>
        <div>{{project.totalCases}}</div>
    </div>
    <div layout="column" layout flex="10" class="margin-right-30">
        <div>{{getWord('Last Running')}}</div>
        <div>{{project.lastRunning === undefine ? 'N/A' : project.lastRunning}}</div>
    </div>
    <div layout="column" layout layout-align="center center" flex="10" ng-if="project.log">
       <a class='btn-border-line' 
  		 ng-click="viewLog($event)">{{getWord('View Log')}}</a>
    </div>
    
		<div layout="column" layout flex="10" layout-align="center center" ng-if="project.status==='READY' && project.lastSuites && project.totalSuites">
      <a class='btn-border-line' 
		 	ng-click="viewLog()">{{getWord('Run')}}</a>
		</div>
	 	<div layout="column" layout layout-align="center center" flex="10" ng-if="project.isBuilding">
	    <a class='btn-border-line btn-danger' 
		 	ng-click="viewLog()">{{getWord('Stop')}}</a>
	  </div>
  </div>

	<div class="simple-table-container md-whiteframe-4dp" perfect-scrollbar>
		<div class="table-title">Functional Report</div>
		<div class="ms-responsive-table-wrapper">
			<table class="simple" ms-responsive-table="">
				<thead>
					<tr>
						<th>Report Title</th>
						<th>Total Suites</th>
						<th>Suites Pass</th>
						<th>Suites Fail</th>
						<th>Project Result</th>
						<th>Duration(s)</th>
						<th>Create By</th>
						<th>Download Resource</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="rep in listReports track by $index">
	            		<td class="test-report"><a ng-click="redirectTo(rep.jobId)">Report-{{rep.created_date}}</a>
	            		</td>
	            		<td>{{rep.numberPassedSuite + rep.numberFailedSuite}}</td>
	           			<td>{{rep.numberPassedSuite}}</td>
	            		<td>{{rep.numberFailedSuite}}</td>
	            		<td><span ng-class="{'label label-error': rep.test_result === 'Fail',
	            		'label label-success': rep.test_result === 'Pass'}">{{getWord(rep.test_result)}}</span></td>
	            		<td>{{rep.duration}}</td>
	            		<td>{{project.creator._id}}</td>
	            		<td><a class = 'btn-border-line' 
	            		download='final-result.tar.gz' ng-click="downloadResult(project._id,rep.jobId)">{{getWord('Click Here')}}</a></td>
	          		</tr>
				</tbody>
			</table>
		</div>
	</div>
	<md-table-pagination md-limit="10" md-page="query.current" md-total="{{query.total}}" md-on-paginate="onPaginate" md-page-select md-options="[10]"></md-table-pagination>
</div>	


