<div id="cases" layout="column" flex>
  <!-- Breadcrumbbs -->
  <div layout="row" class="breadcrumbs" layout-align="start center">

    <div layout="row" layout-align="start center">
      <md-button aria-label="menu" class="md-icon-button" ng-click="toggleProjectNavLeft()">
        <md-tooltip md-direction="right">Navigation Menu</md-tooltip>
        <md-icon md-font-icon="icon-menu" aria-hidden="true"></md-icon>
      </md-button>
    </div>

    <div class="item" layout="row" layout-align="start center">
      <a data-ui-sref="app.projects">Projects</a>
      <md-icon md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>      
    </div>
    <div class="item" layout="row" layout-align="start center" ng-repeat="item in breadcrumbs">
      <a class="text-nowrap-ellipsis" ng-if="!$last" ng-href="{{$state.href(item.state, item.data)}}">
      {{item.name}}
      </a>
      <span ng-if="$last">{{item.name}}</span>
      <md-icon ng-if="!$last" md-font-icon="icon-chevron-right" class="s24 mh-8"></md-icon>      
    </div>

    <span flex></span>

    <md-button class="animate-slide-down" ng-click="save()" ng-show="hasChanged">
      <div layout="row" layout-align="start center" class="md-primary-fg">
        <md-icon md-font-icon="icon-floppy" aria-hidden="true" class="md-primary-fg"></md-icon>
        <span class="pl-8" flex>Save change</span>
      </div>
    </md-button>

    <md-button class="animate-slide-down" ng-click="cancel()" ng-show="hasChanged">
      <div layout="row" layout-align="start center" class="grey-700-fg">
        <md-icon md-font-icon="icon-cancel" aria-hidden="true" class="grey-700-fg"></md-icon>
        <span class="pl-8" flex>Cancel</span>
      </div>
    </md-button>

    <md-button ng-click="setting($event)">
      <div layout="row" layout-align="start center" class="md-warn-fg md-hue-2">
        <md-icon md-font-icon="icon-cog" aria-hidden="true" class="md-warn-fg md-hue-2"></md-icon>
        <span class="pl-8" flex>Settings</span>          
      </div>
    </md-button>
  </div>
  <!-- End breadcrumbs -->

  <div layout="row" class="content-wrapper" flex>

    <div class="cases-container" flex="80" layout="row" layout-align="start start" layout-wrap  
      perfect-scrollbar
      dnd-list="suite.cases" 
      dnd-horizontal-list="true" 
      dnd-external-sources="false">

      <div ng-repeat="case in suite.cases" layout="row" flex="20" 
        class="case ms-card animate-slide-left"  
        dnd-draggable="case"  
        dnd-type="'containerType'"
        dnd-effect-allowed="move" 
        dnd-moved="suite.cases.splice($index, 1)">

        <div class="ms-card-content-wrapper" layout="column">

          <div layout="row" class="p-8" flex>
            <a ng-if="!hasChanged" ng-click="clickToCase($event, case._id)" class="md-primary-fg text-nowrap-ellipsis">
              <md-tooltip>{{case.name}}</md-tooltip>
              {{case.name}}
            </a>
            <a ng-if="hasChanged" class="md-primary-fg text-nowrap-ellipsis">
              <md-tooltip>{{case.name}}</md-tooltip>
              {{case.name}}
            </a> 
          </div>
          <div layout="row" class="p-8">
            <span class="badge-order white-fg green-400-bg width-24 text-center">{{$index+1}}</span>
            <span flex></span>
            <a href-void ng-click="remove($index)">
              <md-tooltip>Remove</md-tooltip>
              <md-icon md-font-icon="s16 icon-close" class="md-warn-fg"></md-icon>
            </a>
          </div>

        </div>
      </div>
    </div>

    <div layout="row" flex="20" class="list-cases ms-widget md-whiteframe-14dp">
      <div class="ms-widget-front white-bg" layout="column" flex>
        
        <div layout="row" layout-align="start center" class="p-16 filter">
          <md-icon md-font-icon="icon-magnify"></md-icon>
          <input class="pl-8" flex placeholder="Search for test case name" ng-model="queryText">
          <a href-void ng-show="queryText" ng-click="queryText = undefined;"><md-icon md-font-icon="icon-close"></md-icon></a>
        </div>

        <md-content perfect-scrollbar>
          <div layout="row" flex="100" layout-wrap>
            <div class="p-16 border-bottom case" flex="100"
              ng-repeat="case in listCases | orderBy:'name' | filter: queryText" 
              dnd-draggable="case" 
              dnd-effect-allowed="move"
              dnd-moved="removeInListCase(case)">
                <span>{{case.name}}</span>
            </div>              
          </div>
        </md-content>
      </div>
    </div>

  </div>
</div>
