<div id="case" layout="row">
  <md-content class="md-hue-1" flex="80" perfect-scrollbar>
    <div class="projects-container"  flex="100" layout-wrap layout="row"
      dnd-list="suite.cases" 
      dnd-horizontal-list="true" 
      dnd-external-sources="false"
      dnd-disable-if="!organizeMode" style="min-height: 30px;">
      <div ng-repeat="case in suite.cases" layout="row" flex="25" class="project ms-card"  
        dnd-draggable="case"  
        dnd-type="'containerType'"
        dnd-effect-allowed="move" 
        dnd-moved="suite.cases.splice($index, 1)"
        dnd-disable-if="!organizeMode"> 
        <div class="ms-card-content-wrapper" style="border-left: 3px solid #2E62B1;">

          <div layout="column">
            <a href="javascript:void(0)" ng-click="clickProject($event, project._id)" class="md-primary-fg text-nowrap-ellipsis h5 p-16">
              <md-tooltip>{{case.name}}</md-tooltip>
              {{case.name}}
            </a>
            <div layout="row">
              <span flex></span>
              <span class="badge-order white-fg green-400-bg width-20 text-center">{{$index+1}}</span>
            </div>
          </div>

          <md-divider></md-divider>

        </div>
      </div>
    </div>

    <div layout="row" class="">
      <md-button class="md-blue-300-bg md-primary" ng-click="save()" ng-if="organizeMode">
        Save
      </md-button>
      <md-button class="md-accent-bg " ng-click="edit()" ng-if="!organizeMode && suite.cases">
        Edit
      </md-button>
      <md-button class="" ng-click="cancel()" ng-if="organizeMode">
        Cancel
      </md-button>
    </div>
  </md-content>

  <md-content class="md-background-bg" perfect-scrollbar flex>
    <md-list flex>
      <md-subheader layout="row" class="md-primary-bg test-case-list">
        <md-button class="md-no-transition" aria-label="Open/Close Filter" ng-click="filterIsShow = !filterIsShow">
          <md-tooltip >Open/Close Filter</md-tooltip>
            <md-icon md-font-icon="icon-magnify" class="s16 white-fg"></md-icon>
        </md-button>
        <span>List of test case</span>
      </md-subheader>
      <md-subheader class="md-white-bg" ng-show="filterIsShow">
        <div layout="row">
          <md-input-container flex style="margin: 0px;">
            <label>Filter by name</label>
            <input type="text">
          </md-input-container>                        
        </div>
      </md-subheader>
      <div>
        <md-list-item class="md-1-line border-bottom" ng-repeat="case in cases" style="cursor: move;" 
          dnd-draggable="case" 
          dnd-effect-allowed="move"
          dnd-disable-if="!organizeMode">
          <div class="md-list-item-text" layout="column">
            <span>{{case.name}}</span>
          </div>
        </md-list-item>
      </div>
    </md-list>
  </md-content>
</div>