<div class="header-logo" layout="row" layout-align="start end" flex>
  <md-icon md-font-icon="icon-folder-multiple-outline"></md-icon>
  <span class="pl-8 md-title" flex>Keyword - Suites</span>
</div>

<div class="header-info" layout="column" layout-align="space-between start">

  <div class="pt-8" layout="row" layout-align="start center" flex>
    <span class="text-bold w-56">Project</span>
    <span class="text-nowrap-ellipsis">
      {{sharedData.project.name}}
    </span>
  </div>

  <div class="pt-8" layout="row" layout-align="start center" flex>
    <span class="text-bold w-56">Suite(s)</span>
    <span class="text-nowrap-ellipsis">
      {{sharedData.project.suites.length}} Test Suite(s)
    </span>
  </div>

</div>

<div class="header-action" layout="row" layout-align="start center">
  <md-button class="md-raised md-primary white-fg" aria-label="Create New Test Suite" ng-click="create($event)" flex>
    Create New Test Suite
  </md-button> 
</div>
<div class="header-action" layout="row" layout-align="start center">
  <md-button class="md-raised md-accent" aria-label="Execute New Job" flex>
    Execute New Job
  </md-button>      
</div>      