<div class="search-box" layout="row" layout-align="start center" flex>
  <md-icon md-font-icon="icon-magnify" class="icon s24 mh-16" aria-hidden="true"></md-icon>
  <input class="font-size-14" type="text" placeholder="Search for test suite" aria-invalid="false" flex ng-model="sharedData.searchSuites">
  <md-button class="md-icon-button" aria-label="Create New Test Suite" ng-click="create($event)">
    <md-tooltip>
      Create New Test Suite
    </md-tooltip>
    <md-icon md-font-icon="icon-plus" aria-hidden="true"></md-icon>
  </md-button>  
</div>