<div layout="column" flex>
  <md-content class="md-hue-1" perfect-scrollbar>
    <div class="projects-container" layout="row" flex="100" layout-wrap>
      <div ng-repeat="suite in sharedData.project.suites track by $index" layout="row" flex="20" class="project ms-card"> 
        <div class="ms-card-content-wrapper" style="border-left: 3px solid #2E62B1;">

          <div class="text-nowrap-ellipsis h2 p-16">
            <a href-void ng-click="clickSuite($event, suite._id)" class="md-primary-fg">
              <md-tooltip>{{suite.name}}</md-tooltip>
              {{suite.name}}
            </a>
          </div>

          <div class="creator ph-16 pb-16" layout="row" layout-align="start center">
            <!-- <img class="avatar mr-16" ng-src="styles/img/avatars/male.png"> -->
            <div layout="column" flex>
              <div layout="row" layout-align="start center">
                <span class="text-bold pr-8">Creator:</span>
                <a href="javascript:void(0)" class="text-nowrap-ellipsis" flex>
                  <md-tooltip>{{suite.creator.email}}</md-tooltip>
                  {{suite.creator.first_name}} {{suite.creator.last_name}}
                </a>
              </div>
              <div layout="row" layout-align="start center">
                <span class="text-bold pr-8">Created Date:</span>
                <span class="subtitle secondary-text">{{parse(suite.created_date)}}</span>
              </div>
              <div>
                <span class="text-bold pr-8">Total Case(s):</span> 
                <span>{{suite.cases.length}} Case(s)</span>
              </div>
            </div>
          </div>

          <md-divider></md-divider>

          <div layout="row" layout-align="start center">
            <md-button class="md-icon-button" aria-label="Clone this suite" ng-click="clone($event, suite._id, suite.name)">
              <md-tooltip>Clone this suite</md-tooltip>
              <md-icon class="s16 deep-orange-fg" md-font-icon="icon-content-duplicate" aria-hidden="true"></md-icon>
            </md-button>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Delete this suite" ng-click="delete($event, suite._id)">
              <md-tooltip>Delete</md-tooltip>
              <md-icon class="s16 md-warn-fg" md-font-icon="icon-delete" aria-hidden="true"></md-icon>
            </md-button>
          </div>
          
        </div>
      </div>
    </div>
  </md-content>
  </div>