<div id="layout-horizontal-navigation" layout="column" flex ng-cloak>

  <md-toolbar layout="row" class="md-menu-toolbar master-toolbar">

    <div class="md-toolbar-tools height-56">
      
      <div class="logo" layout="row" layout-align="start center">
        <img src="styles/img/CITUS_ATS-02_02.png">
      </div>

      <div class="nav" layout="row" layout-align="start center">
        <div class="md-toolbar-tools">
          <a data-ui-sref="app.dashboard">
            <md-button class="nav-button" aria-label="Dashboard"><span>{{getWord('Dashboard')}}</span></md-button>
          </a>
          <a data-ui-sref="app.projects">
            <md-button class="nav-button" aria-label="Projects"><span>{{getWord('Projects')}}</span></md-button>
          </a>
        </div>
      </div>

      <div class="space" layout="row" layout-align="start center" list-space>
        <span>{{getWord('Space')}}: Public</span>
      </div>

      <!-- Search box -->
      <div id="search-box" data-ui-view="search-box" flex></div>
      <!-- End search box -->

      <div layout="row" layout-align="start center" ng-controller="LanguageCtrl" ng-hide="true">
        <md-menu-bar class="user-menu-bar">
          <md-menu md-position-mode="left bottom">
            
            <md-button class="user-button" ng-click="$mdOpenMenu()" aria-label="Language">
              <div layout="row" layout-align="space-between center">
                <img class="flag" ng-src="{{currentImg}}">
                <span class="text-uppercase">{{currentTitle}}</span>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
              </div>
            </md-button>

            <md-menu-content width="3">
              <md-menu-item class="md-indent" ng-repeat="i in languages" ng-click="choose(i)">
                <md-button style="padding-left: 32px;">
                  <span layout="row" layout-align="start center" class="ng-scope layout-align-start-center layout-row">
                    <img class="flag" ng-src="styles/img/flags/{{i.key}}.png">
                    <span>{{i.title}}</span>
                  </span>
                </md-button>
              </md-menu-item>
              
            </md-menu-content>
          </md-menu>
        </md-menu-bar>                
      </div>

      <div layout="row" layout-align="start center">
        <md-menu-bar class="user-menu-bar">
          <md-menu md-position-mode="left bottom">
            
            <md-button class="user-button" ng-click="$mdOpenMenu()" aria-label="user">
              <div layout="row" layout-align="space-between center">
                <img ng-src="styles/img/avatars/male.png" class="avatar">
                <span user-info>{{currentUser.first_name}} {{currentUser.last_name}}</span>
                <md-icon md-font-icon="icon-chevron-down"></md-icon>
              </div>
            </md-button>

            <md-menu-content width="4">
              <md-menu-item class="md-indent">
                <md-icon md-font-icon="icon-account" class="md-primary"></md-icon>
                <md-button>My Profile</md-button>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon md-font-icon="icon-cog" class="md-warn md-hue-2"></md-icon>
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">Settings</md-button>
                  <md-menu-content width="3">
                    <md-menu-item><md-button ui-sref="app.tenants">Tenants</md-button></md-menu-item>
                    <md-menu-item><md-button ui-sref="app.spaces">Spaces</md-button></md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-item class="md-indent">
                <md-icon md-font-icon="icon-account-multiple-outline" style="color: green;"></md-icon>
                <md-menu>
                  <md-button ng-click="$mdOpenMenu()">Spaces</md-button>
                  <md-menu-content width="3">
                    <md-menu-item><md-button>Public</md-button></md-menu-item>
                    <md-menu-item><md-button>FSU1.BU11</md-button></md-menu-item>
                  </md-menu-content>
                </md-menu>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item class="md-indent" ng-controller="LogoutCtrl">
                <md-icon md-font-icon="icon-logout" class="md-warn"></md-icon>
                <md-button ng-click="logout()">Logout</md-button>
              </md-menu-item>
            </md-menu-content>

          </md-menu>
        </md-menu-bar>                
      </div>
    </div>
  </md-toolbar>

  <div id="content-container" flex layout="column" flex>
    <md-content id="content" data-ui-view="content" class="md-hue-1" perfect-scrollbar></md-content>
  </div>

</div>