	<div class="ms-widget-front white-bg" layout="row" flex="100"  layout-padding  layout-align="start start">
		<div layout="column" layout-padding  layout-align="center center" flex="50">
			<h4>Manage spaces</h4>
	  	<table class="simple spaces">
		    <thead>
		      <th class="space-header text-align-center"><span class="text-bold">Spaces</span></th>
		      <th class="space-header text-align-center" style="padding-left: 8px;"><span class="text-bold">Tenant</span></th>
		      <th class="space-header text-align-center">
		      	<span class="text-bold">Actions</span>
		      	<span></span>
		      </th>
		    </thead>
		    <tbody>
		      <tr ng-repeat="i in spaces">
		        <td class="text-align-center"><span >{{i.name}}</span></td>
		        <td class="text-align-center"><span >{{i.tenant._id}}</span></td>
		        <td class="text-align-center"><md-icon md-font-icon="icon-cancel" aria-hidden="true" class="red-700-fg"></md-icon></td>
		      </tr>
		    </tbody>
		  </table>
		</div>
		<div layout="column" layout-padding  layout-align="center center" flex="50">
			<h4>Grant permission</h4>
		  <table class="simple spaces">
		    <thead>
		      <th class="space-header"><span class="text-bold"></span></th>
		      <th class="space-header" style="padding-left: 8px; text-align: center" colspan="3"><span class="text-bold">Tenant</span></th>
		    </thead>
		    <tbody>
		      <tr style="height: 40px;">
		        <td></td>
		        <td class="text-align-center"><span >View</span></td>
		        <td class="text-align-center"><span >Manage spaces</span></td>
		        <td class="text-align-center"><span >Grant permission</span></td>
		      </tr>
		      <tr>
		      	<td><span>TrinhTV3</span></td>
		      	<td class="text-align-center"><md-icon md-font-icon="icon-check" aria-hidden="true" class="green-700-fg"></md-icon></td>
		      	<td class="text-align-center"><md-icon md-font-icon="icon-check" aria-hidden="true" class="green-700-fg"></md-icon></td>
		      	<td class="text-align-center"><md-icon md-font-icon="icon-check" aria-hidden="true" class="green-700-fg"></md-icon></td>
		      </tr>
		      <tr>
		      	<td><span>TuDH2</span></td>
		      	<td class="text-align-center"><md-icon md-font-icon="icon-check" aria-hidden="true" class="green-700-fg"></md-icon></td>
		      	<td class="text-align-center"><md-icon md-font-icon="icon-cancel" aria-hidden="true" class="red-700-fg"></md-icon></td>
		      	<td class="text-align-center"><md-icon md-font-icon="icon-check" aria-hidden="true" class="green-700-fg"></md-icon></td>
		      </tr>
		      <tr>
		      	<td><span>HaiNT21</span></td>
		      	<td class="text-align-center"><md-icon md-font-icon="icon-check" aria-hidden="true" class="green-700-fg"></md-icon></td>
		      	<td class="text-align-center"><md-icon md-font-icon="icon-cancel" aria-hidden="true" class="red-700-fg"></md-icon></td>
		      	<td class="text-align-center"><md-icon md-font-icon="icon-check" aria-hidden="true" class="green-700-fg"></md-icon></td>
		      </tr>
		    </tbody>
		  </table>
		</div>

	</div>
