<md-dialog aria-label="Clone Project"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools md-primary-bg">
        <span class="md-title text-nowrap">Clone {{title}}:{{oldData}}</span>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <form name="cloneForm">
          <md-input-container class="md-block">
          <label>New {{title}} name</label>
          <input type="text" name="projectName" required ng-model="data_name">
          <div ng-messages="cloneForm.projectName.$error" role="alert" aria-live="assertive" >
              <div ng-message="required">{{title}} name is required</div>
          </div>
          </md-input-container>
          
        </form>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row" >
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="submit()" ng-disabled="cloneForm.$invalid || cloneForm.$pristine">
       <span class="white-fg">Clone</span>
      </md-button>
      <md-button class="md-raised mr-24" ng-click="cancel()">
        Cancel
      </md-button>
    </md-dialog-actions>
</md-dialog>
