<md-dialog aria-label="Create Project"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools md-primary-bg">
        <span class="md-title text-nowrap">Create New Project</span>
      </div>
    </md-toolbar>
    <md-dialog-content>
     <form name="project">
      <div class="md-dialog-content">
        <md-input-container >
          <input type="text" name="newProject" md-maxlength="30" ng-model="newProject" placeholder="Project Name" required="">
          <div ng-messages="project.newProject.$error" role="alert" aria-live="assertive">
              <div ng-message="required">Project Name is required</div>
              <div ng-message="md-maxlength">That's too long</div>
          </div>
        </md-input-container>
  
      </div>
     </form>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="submit()" ng-disabled="project.$invalid || project.$pristine">
       Create
      </md-button>
      <md-button ng-click="cancel()" style="margin-right:20px;">
        Cancel
      </md-button>
    </md-dialog-actions>
</md-dialog>