<md-bottom-sheet class="md-grid" style="padding-left: 0; padding-right: 0;" layout="column" ng-cloak>
  <div class="md-primary-bg" layout="row" layout-align="center center">
    <span class="md-title p-16">{{projectName}}</span>
  </div>
  <div layout="row" layout-align="start" flex>
    <div class="column p-16" layout-align="start center" flex="{{flex}}">
      <md-button class="action-icon" aria-label="Project Overview" ui-sref="app.project.overview({id: currentId})">
        <md-icon class="s38" md-font-icon="icon-chart-line" aria-hidden="true"></md-icon>
      </md-button>
      <div class="text-center">
        <a ui-sref="app.project.overview({id: currentId})" class="md-primary-fg">Project Overview</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="{{flex}}">
      <md-button class="action-icon" aria-label="Keyword - Reports" ui-sref="app.project.keyword-reports({id: currentId})">
        <md-icon class="s38 actionIcon" md-font-icon="icon-chart-bar" aria-hidden="true"></md-icon>
      </md-button>
      <div class="text-center">
      <a ui-sref="app.project.keyword-reports({id: currentId})" class="md-primary-fg" >Keyword - Reports</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="{{flex}}">
      <md-button class="action-icon" aria-label="Keyword - Suites" ui-sref="app.project.keyword-suites({id: currentId})">
        <md-icon class="s38 actionIcon" md-font-icon="icon-folder-multiple-outline" aria-hidden="true"></md-icon>
      </md-button>
      <div class="text-center">
      <a ui-sref="app.project.keyword-suites({id: currentId})" class="md-primary-fg">Keyword - Suites</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="{{flex}}">
      <md-button class="action-icon" aria-label="Keyword - Cases" ui-sref="app.project.keyword-cases({id: currentId})">
        <md-icon class="s38 actionIcon" md-font-icon="icon-bug" aria-hidden="true"></md-icon>
      </md-button>
      <div class="text-center">
      <a ui-sref="app.project.keyword-cases({id: currentId})" class="md-primary-fg">Keyword - Cases</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="{{flex}}">
      <md-button class="action-icon" aria-label="Keyword - Data" ui-sref="app.project.keyword-data({id: currentId})">
        <md-icon class="s38 actionIcon" md-font-icon="icon-format-list-numbers" aria-hidden="true"></md-icon>
      </md-button>
      <div class="text-center">
      <a ui-sref="app.project.keyword-data({id: currentId})" class="md-primary-fg">Keyword - Data</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="{{flex}}">
      <md-button class="action-icon" aria-label="Performance - Reports" ui-sref="app.project.performance-reports({id: currentId})">
        <md-icon class="s38 actionIcon" md-font-icon="icon-chart-pie" aria-hidden="true"></md-icon>
      </md-button>
      <div class="text-center">
      <a ui-sref="app.project.performance-reports({id: currentId})" class="md-primary-fg">Performance - Reports</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="{{flex}}">
      <md-button class="action-icon" aria-label="Performance - Scripts" ui-sref="app.project.performance-scripts({id: currentId})" >
        <md-icon class="s38 actionIcon" md-font-icon="icon-clock-fast" aria-hidden="true"></md-icon>
      </md-button>
      <div class="text-center">
      <a ui-sref="app.project.performance-scripts({id: currentId})" class="md-primary-fg" >Performance - Scripts</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="{{flex}}">
      <md-button class="action-icon" aria-label="Selenium Upload" ui-sref="app.project.selenium-upload({id: currentId})">
        <md-icon class="s38 actionIcon" md-font-icon="icon-cloud-upload" aria-hidden="true"></md-icon>
      </md-button>
      <div class="text-center">
      <a class="md-primary-fg" ui-sref="app.project.selenium-upload({id: currentId})">Selenium Upload</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="{{flex}}">
      <md-button class="action-icon" aria-label="Project Settings" >
        <md-icon class="s38 actionIcon" md-font-icon="icon-cog" aria-hidden="true"></md-icon>
      </md-button>
      <div class="text-center">
      <a class="md-primary-fg" ui-sref="app.project.config({id: currentId})">Project - Settings</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="{{flex}}">
      <md-button class="action-icon" aria-label="Destroy" ng-click="showDeleteProject($event)">
        <md-icon class="s38 md-warn-fg" md-font-icon="icon-delete" aria-hidden="true"></md-icon>
      </md-button>
      <div class="text-center ph-16" layout="row" layout-align="start center"
      ng-controller="ProjectsCtrl">
        <md-icon class="s16" md-font-icon="icon-lock" ></md-icon>
        <a class="md-primary-fg" href-void flex ng-click="showDeleteProject($event)">Destroy</a>          
      </div>
    </div>
     <!--  </md-list-item>
        
        
      </md-list-item>
      <md-list-item>
        
      </md-list-item>

    </md-list> -->
  </div>
</md-bottom-sheet>