<md-bottom-sheet class="md-grid" style="padding-left: 0; padding-right: 0;" layout="column" ng-cloak>
  <div class="md-primary-bg" layout="row" layout-align="center center">
    <span class="md-title p-16">{{projectName}}</span>
  </div>
  <div layout="row" layout-align="start" flex>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button class="action-icon">
        <md-icon class="s38" md-font-icon="icon-chart-line"></md-icon>
      </md-button>
      <div class="text-center">
        <a class="md-primary-fg" href-void>Project Overview</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button class="action-icon">
        <md-icon class="s38 actionIcon" md-font-icon="icon-chart-bar"></md-icon>
      </md-button>
      <div class="text-center">
      <a class="md-primary-fg" href-void>Keyword - Reports</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button class="action-icon">
        <md-icon class="s38 actionIcon" md-font-icon="icon-folder-multiple-outline"></md-icon>
      </md-button>
      <div class="text-center">
      <a class="md-primary-fg" href-void>Keyword - Suites</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button class="action-icon">
        <md-icon class="s38 actionIcon" md-font-icon="icon-bug"></md-icon>
      </md-button>
      <div class="text-center">
      <a class="md-primary-fg" href-void>Keyword - Cases</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button class="action-icon">
        <md-icon class="s38 actionIcon" md-font-icon="icon-format-list-numbers"></md-icon>
      </md-button>
      <div class="text-center">
      <a class="md-primary-fg" href-void>Keyword - Data</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button class="action-icon">
        <md-icon class="s38 actionIcon" md-font-icon="icon-chart-pie"></md-icon>
      </md-button>
      <div class="text-center">
      <a class="md-primary-fg" href-void>Performance - Reports</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button class="action-icon">
        <md-icon class="s38 actionIcon" md-font-icon="icon-clock-fast"></md-icon>
      </md-button>
      <div class="text-center">
      <a class="md-primary-fg" href-void>Performance - Scripts</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button class="action-icon">
        <md-icon class="s38 actionIcon" md-font-icon="icon-file-excel"></md-icon>
      </md-button>
      <div class="text-center">
      <a class="md-primary-fg" href-void>Performance - CSV</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button class="action-icon">
        <md-icon class="s38 actionIcon" md-font-icon="icon-cloud-upload"></md-icon>
      </md-button>
      <div class="text-center">
      <a class="md-primary-fg" href-void>Selenium Upload</a>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button class="action-icon">
        <md-icon class="s38 md-warn-fg" md-font-icon="icon-delete"></md-icon>
      </md-button>
      <div class="text-center ph-16" layout="row" layout-align="start center">
        <md-icon class="s16" md-font-icon="icon-lock"></md-icon>
        <span class="md-primary-fg" flex>Destroy</a>          
      </div>
    </div>
     <!--  </md-list-item>
        
        
      </md-list-item>
      <md-list-item>
        
      </md-list-item>

    </md-list> -->
  </div>
</md-bottom-sheet>