<md-bottom-sheet class="md-grid" layout="column" ng-cloak>
  <div layout="row" layout-align="center center">
    <span class="md-title md-primary-fg p-16">{{projectName}}</span>
  </div>
  <div layout="row" layout-align="start" flex>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button>
        <md-icon class="s38" md-font-icon="icon-chart-line"></md-icon>
      </md-button>
      <div class="text-center">
      <span>Project Overview</span>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button>
        <md-icon class="s38" md-font-icon="icon-chart-bar"></md-icon>
      </md-button>
      <div class="text-center">
      <span>Keyword - Reports</span>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button>
        <md-icon class="s38" md-font-icon="icon-folder-multiple-outline"></md-icon>
      </md-button>
      <div class="text-center">
      <span>Keyword - Suites</span>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button>
        <md-icon class="s38" md-font-icon="icon-bug"></md-icon>
      </md-button>
      <div class="text-center">
      <span>Keyword - Cases</span>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button>
        <md-icon class="s38" md-font-icon="icon-format-list-numbers"></md-icon>
      </md-button>
      <div class="text-center">
      <span>Keyword - Data</span>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button>
        <md-icon class="s38" md-font-icon="icon-chart-pie"></md-icon>
      </md-button>
      <div class="text-center">
      <span>Performance - Reports</span>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button>
        <md-icon class="s38" md-font-icon="icon-clock-fast"></md-icon>
      </md-button>
      <div class="text-center">
      <span>Performance - Scripts</span>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button>
        <md-icon class="s38" md-font-icon="icon-file-excel"></md-icon>
      </md-button>
      <div class="text-center">
      <span>Performance - CSV</span>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button>
        <md-icon class="s38" md-font-icon="icon-cloud-upload"></md-icon>
      </md-button>
      <div class="text-center">
      <span>Selenium Upload</span>          
      </div>
    </div>
    <div class="column p-16" layout-align="start center" flex="10">
      <md-button>
        <md-icon class="s38 md-warn-fg" md-font-icon="icon-delete"></md-icon>
      </md-button>
      <div class="text-center">
      <span>Destroy</span>          
      </div>
    </div>
     <!--  </md-list-item>
        
        
      </md-list-item>
      <md-list-item>
        
      </md-list-item>

    </md-list> -->
  </div>
</md-bottom-sheet>