<div id="projects" layout="row">

<div layout="column" flex>
  <!-- <div layout="row" class="projects-search-container">
    <div class="projects-search white-bg md-whiteframe-4dp" layout="row" layout-align="start center" flex>
      <md-icon md-font-icon="icon-magnify" class="icon s24" aria-hidden="true"></md-icon>
      <input type="text" placeholder="Search for project name" aria-invalid="false" flex>
      <div class="projects-action grey-300-border-left pl-16" layout="row" layout-align="start center">
        <md-button class="md-icon-button action-icon" aria-label="Create New Project" ng-click="showCreateNewProject($event)">
          <md-tooltip>
            Create New Project
          </md-tooltip>
          <md-icon md-font-icon="icon-plus" aria-hidden="true"></md-icon>
        </md-button>  
      </div>
    </div>
  </div> -->

  <md-content class="md-hue-1" perfect-scrollbar>
    <div class="projects-container" layout="row" flex="100" layout-wrap>
      <div ng-repeat="project in projects track by $index" layout="row" flex="20" class="project ms-card"> 
        <div class="ms-card-content-wrapper" style="border-left: 3px solid #2E62B1;">

          <div class="text h2 p-16">
            <a href="javascript:void(0)" ng-click="clickProject($event, project._id)" class="md-primary-fg">
              <md-tooltip>{{project.name}}</md-tooltip>
              {{project.name}}
            </a>
          </div>

          <div class="creator ph-16 pb-16" layout="row" layout-align="start center">
            <img class="avatar mr-16" ng-src="styles/img/avatars/male.png">
            <div layout="column" flex>
              <div class="title" layout="row" layout-align="start center">
                <a href="javascript:void(0)" class="text" flex>
                  <md-tooltip>{{project.creator.email}}</md-tooltip>
                  {{project.creator.first_name}} {{project.creator.last_name}}
                </a>
                <span flex>created on</span>
              </div>
              <div class="subtitle secondary-text">{{project.created_date}}</div>
            </div>
          </div>

          <md-divider></md-divider>

          <div layout="row" layout-align="start center">
            <md-button class="md-icon-button" aria-label="Clone this project" ng-click="clone(project._id, $event, project.name)">
              <md-tooltip>Clone this project</md-tooltip>
              <md-icon class="s16 deep-orange-fg" md-font-icon="icon-content-duplicate" aria-hidden="true"></md-icon>
            </md-button>
            <span flex></span>
            <md-button class="md-icon-button action-icon" aria-label="Pin to dashboard">
              <md-tooltip>Pin to dashboard</md-tooltip>
              <md-icon class="s16" md-font-icon="icon-pin" aria-hidden="true"></md-icon>
            </md-button>
          </div>
          
        </div>
      </div>
    </div>
  </md-content>
</div>
</div>